# Part 1

In [1]:
#install.packages("RODBC")
#install.packages("sqldf")

In [2]:
#library(RODBC)
library(sqldf) # Бибилиотека для использования SQL запросов

cars<-read.table("~/Documents/VMK/MaSP/Data/CARS.csv", header=TRUE, sep=",")

Loading required package: gsubfn

Loading required package: proto

Loading required package: RSQLite

In [3]:
cars

    Make       Model                             Type   Origin DriveTrain
1   Acura       MDX                              SUV    Asia   All
2   Acura       RSX Type S 2dr                   Sedan  Asia   Front
3   Acura       TSX 4dr                          Sedan  Asia   Front
4   Acura       TL 4dr                           Sedan  Asia   Front
5   Acura       3.5 RL 4dr                       Sedan  Asia   Front
6   Acura       3.5 RL w/Navigation 4dr          Sedan  Asia   Front
7   Acura       NSX coupe 2dr manual S           Sports Asia   Rear
8   Audi        A4 1.8T 4dr                      Sedan  Europe Front
9   Audi        A41.8T convertible 2dr           Sedan  Europe Front
10  Audi        A4 3.0 4dr                       Sedan  Europe Front
11  Audi        A4 3.0 Quattro 4dr manual        Sedan  Europe All
12  Audi        A4 3.0 Quattro 4dr auto          Sedan  Europe All
13  Audi        A6 3.0 4dr                       Sedan  Europe Front
14  Audi        A6 3.0 Quattro 4dr               Sedan  Europe All
15  Audi        A4 3.0 convertible 2dr           Sedan  Europe Front
16  Audi        A4 3.0 Quattro convertible 2dr   Sedan  Europe All
17  Audi        A6 2.7 Turbo Quattro 4dr         Sedan  Europe All
18  Audi        A6 4.2 Quattro 4dr               Sedan  Europe All
19  Audi        A8 L Quattro 4dr                 Sedan  Europe All
20  Audi        S4 Quattro 4dr                   Sedan  Europe All
21  Audi        RS 6 4dr                         Sports Europe Front
22  Audi        TT 1.8 convertible 2dr (coupe)   Sports Europe Front
23  Audi        TT 1.8 Quattro 2dr (convertible) Sports Europe All
24  Audi        TT 3.2 coupe 2dr (convertible)   Sports Europe All
25  Audi        A6 3.0 Avant Quattro             Wagon  Europe All
26  Audi        S4 Avant Quattro                 Wagon  Europe All
27  BMW         X3 3.0i                          SUV    Europe All
28  BMW         X5 4.4i                          SUV    Europe All
29  BMW         325i 4dr                         Sedan  Europe Rear
30  BMW         325Ci 2dr                        Sedan  Europe Rear
⋮   ⋮          ⋮                                 ⋮      ⋮      ⋮
399 Toyota      Tundra Regular Cab V6            Truck  Asia   Rear
400 Toyota      Tundra Access Cab V6 SR5         Truck  Asia   All
401 Toyota      Matrix XR                        Wagon  Asia   Front
402 Volkswagen  Touareg V6                       SUV    Europe All
403 Volkswagen  Golf GLS 4dr                     Sedan  Europe Front
404 Volkswagen  GTI 1.8T 2dr hatch               Sedan  Europe Front
405 Volkswagen  Jetta GLS TDI 4dr                Sedan  Europe Front
406 Volkswagen  New Beetle GLS 1.8T 2dr          Sedan  Europe Front
407 Volkswagen  Jetta GLI VR6 4dr                Sedan  Europe Front
408 Volkswagen  New Beetle GLS convertible 2dr   Sedan  Europe Front
409 Volkswagen  Passat GLS 4dr                   Sedan  Europe Front
410 Volkswagen  Passat GLX V6 4MOTION 4dr        Sedan  Europe Front
411 Volkswagen  Passat W8 4MOTION 4dr            Sedan  Europe Front
412 Volkswagen  Phaeton 4dr                      Sedan  Europe Front
413 Volkswagen  Phaeton W12 4dr                  Sedan  Europe Front
414 Volkswagen  Jetta GL                         Wagon  Europe Front
415 Volkswagen  Passat GLS 1.8T                  Wagon  Europe Front
416 Volkswagen  Passat W8                        Wagon  Europe Front
417 Volvo       XC90 T6                          SUV    Europe All
418 Volvo       S40 4dr                          Sedan  Europe Front
419 Volvo       S60 2.5 4dr                      Sedan  Europe All
420 Volvo       S60 T5 4dr                       Sedan  Europe Front
421 Volvo       S60 R 4dr                        Sedan  Europe All
422 Volvo       S80 2.9 4dr                      Sedan  Europe Front
423 Volvo       S80 2.5T 4dr                     Sedan  Europe All
424 Volvo       C70 LPT convertible 2dr          Sedan  Europe Front
425 Volvo       C70 HPT convertible 2dr          Sedan  Europe Front
426 Volvo       S80 T6 4dr                       Sedan  Europe Front
427 Volvo       V40                              Wagon  Europe Front
428 Volvo       XC70                             Wagon  Europe All
    MSRP    Invoice EngineSize Cylinders Horsepower MPG_City MPG_Highway Weight
1   $36,945 $33,337 3.5        6         265        17       23          4451
2   $23,820 $21,761 2.0        4         200        24       31          2778
3   $26,990 $24,647 2.4        4         200        22       29          3230
4   $33,195 $30,299 3.2        6         270        20       28          3575
5   $43,755 $39,014 3.5        6         225        18       24          3880
6   $46,100 $41,100 3.5        6         225        18       24          3893
7   $89,765 $79,978 3.2        6         290        17       24          3153
8   $25,940 $23,508 1.8        4         170        22       31          3252
9   $35,940 $32,506 1.8        4         170        23       30          3638
10  $31,840 $28,846 3.0        6         220        20       28          3462
11  $33,430 $30,366 3.0        6         220        17       26          3583
12  $34,480 $31,388 3.0        6         220        18       25          3627
13  $36,640 $33,129 3.0        6         220        20       27          3561
14  $39,640 $35,992 3.0        6         220        18       25          3880
15  $42,490 $38,325 3.0        6         220        20       27          3814
16  $44,240 $40,075 3.0        6         220        18       25          4013
17  $42,840 $38,840 2.7        6         250        18       25          3836
18  $49,690 $44,936 4.2        8         300        17       24          4024
19  $69,190 $64,740 4.2        8         330        17       24          4399
20  $48,040 $43,556 4.2        8         340        14       20          3825
21  $84,600 $76,417 4.2        8         450        15       22          4024
22  $35,940 $32,512 1.8        4         180        20       28          3131
23  $37,390 $33,891 1.8        4         225        20       28          2921
24  $40,590 $36,739 3.2        6         250        21       29          3351
25  $40,840 $37,060 3.0        6         220        18       25          4035
26  $49,090 $44,446 4.2        8         340        15       21          3936
27  $37,000 $33,873 3.0        6         225        16       23          4023
28  $52,195 $47,720 4.4        8         325        16       22          4824
29  $28,495 $26,155 2.5        6         184        20       29          3219
30  $30,795 $28,245 2.5        6         184        20       29          3197
⋮   ⋮       ⋮       ⋮          ⋮         ⋮          ⋮        ⋮           ⋮
399 $16,495 $14,978 3.4         6        190        16       18          3925
400 $25,935 $23,520 3.4         6        190        14       17          4435
401 $16,695 $15,156 1.8         4        130        29       36          2679
402 $35,515 $32,243 3.2         6        220        15       20          5086
403 $18,715 $17,478 2.0         4        115        24       31          2897
404 $19,825 $18,109 1.8         4        180        24       31          2934
405 $21,055 $19,638 1.9         4        100        38       46          3003
406 $21,055 $19,638 1.8         4        150        24       31          2820
407 $23,785 $21,686 2.8         6        200        21       30          3179
408 $23,215 $21,689 2.0         4        115        24       30          3082
409 $23,955 $21,898 1.8         4        170        22       31          3241
410 $33,180 $30,583 2.8         6        190        19       26          3721
411 $39,235 $36,052 4.0         8        270        18       25          3953
412 $65,000 $59,912 4.2         8        335        16       22          5194
413 $75,000 $69,130 6.0        12        420        12       19          5399
414 $19,005 $17,427 2.0         4        115        24       30          3034
415 $24,955 $22,801 1.8         4        170        22       31          3338
416 $40,235 $36,956 4.0         8        270        18       25          4067
417 $41,250 $38,851 2.9         6        268        15       20          4638
418 $25,135 $23,701 1.9         4        170        22       29          2767
419 $31,745 $29,916 2.5         5        208        20       27          3903
420 $34,845 $32,902 2.3         5        247        20       28          3766
421 $37,560 $35,382 2.5         5        300        18       25          3571
422 $37,730 $35,542 2.9         6        208        20       28          3576
423 $37,885 $35,688 2.5         5        194        20       27          3691
424 $40,565 $38,203 2.4         5        197        21       28          3450
425 $42,565 $40,083 2.3         5        242        20       26          3450
426 $45,210 $42,573 2.9         6        268        19       26          3653
427 $26,135 $24,641 1.9         4        170        22       29          2822
428 $35,145 $33,112 2.5         5        208        20       27          3823
    Wheelbase Length
1   106       189
2   101       172
3   105       183
4   108       186
5   115       197
6   115       197
7   100       174
8   104       179
9   105       180
10  104       179
11  104       179
12  104       179
13  109       192
14  109       192
15  105       180
16  105       180
17  109       192
18  109       193
19  121       204
20  104       179
21  109       191
22   95       159
23   96       159
24   96       159
25  109       192
26  104       179
27  110       180
28  111       184
29  107       176
30  107       177
⋮   ⋮         ⋮
399 128       218
400 128       218
401 102       171
402 112       187
403  99       165
404  99       168
405  99       172
406  99       161
407  99       172
408  99       161
409 106       185
410 106       185
411 106       185
412 118       204
413 118       204
414  99       174
415 106       184
416 106       184
417 113       189
418 101       178
419 107       180
420 107       180
421 107       181
422 110       190
423 110       190
424 105       186
425 105       186
426 110       190
427 101       180
428 109       186

In [4]:
empty_counter <- function(size = 0, names = NA) {
    if(size == 0)
        counter <- vector()
    else{
        counter <- vector("integer", size)
    }
    if(!is.na(names)[1]){ #is.na returns multiple boolean values, that's why '[1]' is used
        names(counter) <- names
    }
    return(counter)
}

In [5]:
MFL <- function(table){
    fl <- sqldf(paste("Select Make, Origin from ",
                      table,
                      " group by Make")) # выделение из таблицы интересующие нас столбцы
    line_1 <- vector() #пустой вектор, который будет хранить символьные значения - элементы первой строки
    for(i in 1:length(fl[[1]])){
        elem <- paste(fl$Make[i],'[', fl[[2]][i], ']') # индексация разная (просто на заметку)
        elem <- gsub(' ','',elem)
        line_1 <- append(line_1, elem)
    }
    return(line_1)
}

In [6]:
# Make cell for second line function (MCFSL) function
MCFSL <- function(vec) {
    cell <- vector()
    for(i in 1:length(names(vec))){
        elem <- paste(c(names(vec)[i], vec[[i]]), collapse="=")
        cell <- append(cell, elem)
    }
    cell <- paste(cell, collapse=" ")
    return(cell)
}

In [7]:
MSL <- function(table) {
    line_2 <- vector() #пустой вектор, который будет хранить символьные значения - элементы первой строки
    
    names <- levels(factor(table$Type))
    counter <- empty_counter(6, names) # многомерный счетчик для каждой марки машины
    inc <- empty_counter(6, names) # многомерный инкремент для каждой марки машины

    initial_brand <- table[1,]$Make
    for(i in 1:nrow(table)) { # выбираю конкретную марку машины
        car <- table[i,] #
        if(car$Make != initial_brand){
            line_2 <- append(line_2, MCFSL(counter))
            counter <- empty_counter(6, names)
            initial_brand <- car$Make
        }
        inc[car$Type] = 1 
        counter <- counter + inc
        inc[car$Type] = 0
    }
    line_2 <- append(line_2, MCFSL(counter)) # сохраняю данные последнего счетчика, а то без этой строчки проскакиваю
    return(line_2)
}

In [8]:
invoice_converter <- function(invoice, mode='toNumericRubles'){
    if(mode == 'toChar'){
        return(paste(as.character(invoice), ' RUB'))
    }
    else{
        return(1000*60 * as.numeric(sub(',', '.', sub('.', '', invoice))))
    }
}

In [9]:
MTL <- function(table) {
    line_3 <- vector() #пустой вектор, который будет хранить символьные значения - элементы первой строки
    
    names <- levels(factor(table$Type)) # возможные типы кузовов
    type_counter <- empty_counter(6, names) # многомерный счетчик для каждой марки машины
    val_container <- empty_counter() # контейнер для хранения счетов для одинаковых типов кузова одной модели
    max_val <- empty_counter(6, names) # конейнер максимальных счетов для конкретной модели
    inc <- empty_counter(6, names) # многомерный инкремент для каждой марки машины

    initial_brand <- table[1,]$Make
    initial_type <- table[1,]$Type
    initial_max_val <- table[1,]$Invoice
    
    for(i in 1:nrow(table)) { # выбираю конкретную марку машины
        car <- table[i,] #
        if(car$Type != initial_type | i==nrow(table)) {
            if(i==nrow(table)){
                invoice_rubles <- invoice_converter(car$Invoice)
                val_container <- append(val_container, invoice_rubles)
            }
            max_val[initial_type] <- invoice_converter(max(val_container), mode='toChar')
            val_container <- empty_counter()
            initial_type <- car$Type
        }
        #car <- table[i,] #
        if(car$Make != initial_brand){
            line_3 <- append(line_3, MCFSL(max_val))
            max_val <- empty_counter(6, names)
            val_container <- empty_counter()
            initial_brand <- car$Make
        }
        invoice_rubles <- invoice_converter(car$Invoice)
        val_container <- append(val_container, invoice_rubles) # хранит счета для конкретных типов кузовов
                                                               # конкретных марком
        #cat(val_container,'\n')
    }
    line_3 <- append(line_3, MCFSL(max_val)) # сохраняю данные последнего счетчика, а то без этой строчки проскакиваю
    return(line_3)
}

In [10]:
construct <- function(table){return(data.frame("Manufacturer_Origin" = MFL(deparse(substitute(table))), 
                   "Types" = MSL(table), 
                   "Maximal_invoice" = MTL(table)))}

In [11]:
data <- construct(cars)
write.table(data, file = "MY_DATA.txt", row.names = FALSE, col.names = FALSE, quote = FALSE, sep = "\n")

# Part 2

In [12]:
MC <- function(data, colname){
    #brands_data = data["Manufacturer_Origin"]
    brands_data = data[seq(1,112, by=3),]
    #invoice_data = data["Maximal_invoice"]
    invoice_data = data[seq(3,114, by=3),]
    column = empty_counter(6)
    for(i in 1:nrow(data)){
        if(grepl(colname, brands_data[i])){
            inv <- gsub(' RUB *|[a-z]|[A-Z]|=', "", invoice_data[i])
            current_inv <- c(as.numeric(unlist(strsplit(inv, split=" "))))
            #print(current_inv)
            column <- pmax(column,current_inv)
        }
    }
    for(i in 1:length(column)){
        if(column[i] == 0){
            column[i] = NA
        }
        else{
            column[i] <- invoice_converter(column[i], mode='toChar')
        }
    }
    return(column)
}

In [13]:
txt.data <- read.delim("MY_DATA.txt", header=FALSE)
types<- gsub("=[[:digit:]]+|=[[:digit:]]+.[[:digit:]]+ |RUB ",
          "",
          txt.data[2,]) # Ignoring all irrelavant words to make row names
rownames<-unlist(strsplit(types, split=" "))
df <- cbind(data.frame(Types=rownames), 
      Asia=MC(txt.data, 'Asia'), 
      USA=MC(txt.data, 'USA'),
      Europe=MC(txt.data, 'Europe'))

write.csv(df ,row.names=FALSE , file='MY_TABLE.csv')

# Part 3

In [14]:
print.MTT<-function(x){
    prop_names <- 'Manufacturer_Origin Types Maximal_invoice'
    if(is.null(names(x))){
        return(cat("ERROR: Object should have names. Try again"))
    }
    else{
        cat("\t\t","--- OVERWRITED PRINT ---","\n\n")
        nr<- length(x)
        for(i in 1:length(x[[1]])){
            if(nr==3){
                cat(x$Manufacturer_Origin[i], x[[2]][i], x$Maximal_invoice[i], sep=' ; ')
            }
            else if(nr==4){
                cat(x[[1]][i], x[[2]][i], x[[3]][i], x[[4]][i], sep=' ; ')
            }
            cat("\n\n")
        }
        #NextMethod("print")
    }
}

class(data) <- "MTT"
data

In [15]:
do_csv <- function(txt.data, colnames){
    return(cbind(data.frame(Types=rownames), 
      Asia=MC(txt.data, colnames[1]), 
      USA=MC(txt.data, colnames[2]),
      Europe=MC(txt.data, colnames[3])))
}

In [16]:
my.frame <- do_csv(txt.data, c('Asia','USA','Europe'))
class(my.frame) <- 'MTT'

my.frame

		 --- OVERWRITED PRINT ---

Hybrid ; 1135560  RUB ; NA ; NA

Sedan ; 2914980  RUB ; 2781720  RUB ; 7176000  RUB

Sports ; 4798680  RUB ; 4467060  RUB ; 10413600  RUB

SUV ; 3387300  RUB ; 2902620  RUB ; 4292400  RUB

Truck ; 1495560  RUB ; 2912460  RUB ; NA

Wagon ; 1987260  RUB ; 1723500  RUB ; 3388440  RUB

In [17]:
write.csv <- function(x, ...) UseMethod("write.csv")

write.csv.MTT <- function(x, ...){
    cat("\t\t","--- MTT OBJECT=", paste("'",deparse(substitute(x)),"'"), " SAVED ---","\n\n")
    class(x)<-"data.frame"
    #print(file)
    NextMethod()
    #return(cat("LoL"))
}

write.csv.default <- function(x, ...) {  
    cat("\t\t","--- OVERWRITED WRITE.CSV ---","\n\n")
    utils::write.csv(x, ...)
}

In [18]:
write.csv(my.frame, file='overwrited_write.csv')

		 --- MTT OBJECT= ' my.frame '  SAVED ---

		 --- OVERWRITED WRITE.CSV ---